
@import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&display=swap');


  .navbar{
    font-family: 'Odor Mean Chey';
  }
  .white{
    color: white;
  }
  
.nav-link.white {
    color: #ED7D31; 
  }
 
  .navlogo{
    height: 65px;
    margin-left: 20px;
    margin-top: -10px;

  }
.nav-link.white:visited {
    color: #ED7D31; 
  }
  .navbar-toggler-icon{
   background-color: white;
   border-radius: 3px;
   padding: 5px;
  }
  
  
  .nav-link.white:hover {
    color: #D1271A; 
  }
  
  .nav-link.white:active {
    color: #ffffff; 
  }
  .bluecolor{
    background: #ffffff;
    color: white;
   }
   .forntsixe{
    font-size: 23px;
    margin-right: 60px;
    gap: 15px;
   }

   .newline{
    width: 1650px;
    color: gainsboro;
    background-color: grey;
    height: 1px;
   }