@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Space+Grotesk:wght@300..700&display=swap');
/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Modal Content */
  .modal-overlay .modal-content {
    background: rgba(243, 243, 245, 1);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 50%;
    width: 100%;
    height: 100%;
    max-height:70%;
    margin: 0 20px;
  }
  
  /* General Styling */
  .modal-overlay .modal-content h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Frank Ruhl Libre";
  }
  .modal-overlay .modal-content p{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0px;
    font-family: "Space Grotesk", sans-serif;
  }
  .modal-overlay .modal-content span{
    color: rgba(33, 150, 243, 1);

  }
  
  /* Form Styling */
  .modal-overlay .modal-content form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal-overlay .modal-content form .inputscontainer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

  }
  .modal-overlay .modal-content form .inputscontainer .inputgroup{
     width: 35%;
     display: flex;
     flex-direction: column;
     gap: 20px;
  }

  .modal-overlay .modal-content form .inputscontainer .inputgroup .inputitem{
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .modal-overlay .modal-content form .inputscontainer .inputgroup .inputitem .icondiv{
    height:45px;
    width:50px;
    font-size: 22px;
    padding: 6px 13px;
    background: rgba(33, 150, 243, 1);
    border-radius: 5px;
    color: white;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
  }
  
  
  /* Buttons */
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background: rgba(21, 101, 192, 1);
    color: white;
    margin-top: 15px;
    width: 80%;
  }
  .modal-overlay .modal-content .closebtn{
    padding: 0px;
    display: flex;
    justify-content: end;
    padding: 5px 10px;
    font-size: 22px;
  }
  /* button[type="submit"]:hover {
    background-color: #3e8e41;
  } */
  
  
  