@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Odor+Mean+Chey&display=swap');


.main_head{
    position: relative;
    background-image:url("../images/franimg.jpg") ;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    z-index: 6;
    
}
.right_content_main{
    height: 230px;
    overflow: hidden;
}

.heightset{
    height: 230px;
    padding-left: 80px;
    width: 260px;
}

.rightslide{
    position: relative;
    left: 70px;
}

.mainimgmain{
    margin-bottom: 19px;
}

.imganimation{
    white-space: nowrap;
  height: 200px;
  width: 160px;
  margin-bottom: 10px;
}
.animation{
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
.whole_container{
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    height: 50vh;
}
.scrollingimg{
   height: 130px;
   width: 120px;
   margin-bottom: 10px;
}
.left_content_main{
    line-height: 38px;
    padding-top: 300px;
}
.cuscolor{
    /* color: #6F4E37;   */
    font-size: 60px;
}
.btns{
    display: flex;
    gap: 13px;
}
.txtfamily{
    font-family: 'Frank Ruhl Libre';
    color: rgb(78, 25, 6);
    text-shadow: 4px 4px 5px rgb(78, 25, 6);
    font-size: 70px;
}
.blue_btns{
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: 600;
    
}

.border_btns{
    
    display: flex;
    align-items: center;
    border-radius: 10px;
    /* border: none; */
    font-weight: 600;
}

.border_btns:hover{
    background-color: #E9AE10;
}

.left_content_main p{
    text-shadow: 2px 2px 3px #000000;
}

/* .wrapper_icons{
    display: flex;
    justify-content: center;
}
.contents_main{
    width: 800px;
    display: flex;
    justify-content: space-around;
}
.icons{
    display: flex;
    gap: 10px;
    color: white;
    font-weight: 600;
}
.mainicon{
    color:rgb(86, 152, 240);
    font-size: 25px;
} */
.cusbtnone{
    background-color: #E9AE10;
    color: white;
    border: none;
    padding: 1px 23px;
}

.cusbtnone:hover{
    background-color: blue;
}
.cusbtntwo{
/* border: 2px solid white; */
background-color: blue;
color: white;
padding: 1px 23px;
}
.mainimgmain{
    height: 200px;
    width: 200px;
}
@media (max-width:576px) {
    .main_head{
        background: linear-gradient(72deg,#1B1A1D,#302424,#2E2938,#2B2A3C);
        height: 100vh;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        
    }
    .whole_container{
        display: flex;
        justify-content: space-around;
        color: white;
        flex-direction: column;
        align-items: center;
        height: 50vh;
        position: relative;
        top: 10px;
        margin: 0 20px;
    }
    .wrapper_icons{
        display: flex;
        justify-content: center;
        margin-top: 200px;
    }
    .right_content_main{
        margin-top:30px ;   
       overflow: visible;
    }
    .contents_main{
        width: 800px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .imganimation{
        white-space: nowrap;
      height: 200px;
      width: 160px;
      margin-bottom: 10px;
    }
}